#about-heading {
    text-align: center;
}

%about-section {
    padding: 20px;
    margin: 5%;
    border-radius: 4px;
}

#first-section{
    @extend %about-section;
    background-color: rgb(190, 190, 190);
}

#second-section{
    @extend %about-section;
    background-color: rgb(156, 156, 156);
}

#third-section{
    @extend %about-section;
    background-color: rgb(121, 121, 121);
}