.blogs-heading{
    background: rgb(231, 231, 231);
    background-repeat: no-repeat;
    margin: 5%;
    padding: 20px;
}

.white-box{
    background-color: $white;
    border-radius: 4px;
    width: 40%;
    margin: 5%;
    padding: 10px 4px;
}

.container{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}