.gray-image{
	img {
		filter: grayscale(100%);
		transition: .3s ease-in-out;
	}

	&:hover {
		img {
			filter: grayscale(0);
		}
	}

}


#brain-img{
    margin: 10px 100px 20px 70px;

    @include breakpoint-down(small){
        margin: 10px;
    }
}

#lampman{
    margin: 10px 100px 20px 250px;

    @include breakpoint-down(small){
        margin: 10px;
    }
}

#pencil-img{
    width: 400px;
    margin: 70px;

    @include breakpoint-down(small){
        width: 250px;
    }
}


.home{
    display: flex;
    margin: 20px;

    #{&}__heading{
       margin-left: 70px;
       margin-top: 50px;
    }

    @include breakpoint-down(medium){
        flex-direction: column;
        align-items: center;
    }
}

.text-n-img{
    display: flex;
    align-items: center;

    @include breakpoint-down(medium){
        flex-direction: column;
    }
}

.text-right{
    text-align: right;
}

.animated-heading{

    transition: all 0.5s;
    
    &:hover{
        padding-left: 10px;
        background-color: $red;
        color: $white;
        border-radius: 6px;
    }
}
