footer{
    background-color: $black;
    padding: 20px;
    color: $white;


    .footer-right-left{
        display: flex;
        justify-content: space-between;
    }

    .social-media{
        
        .footer-images{
            margin-top: 10px;
        }

        img {
            width: 30px;
            transition: 0.3s ease-in-out 0s;
            padding: 10px;
            &:hover{
                transform: translateY(-0.3125rem);
            }
        }
    }

   
}