body{
    font-family: $body-font;
    font-size: $defaultFontSize;
    margin: auto;
    font-weight: weight(bold);
}

ul{
    list-style: none;
}

img{
    width: 300px;
}

.dark{
    @include dark-theme(true);
}
