//-------------Breakpoints---------------
//640px, 1024px, 1400 and up
$breakpoints-up:("medium": "40em", "large": "64em", "xlarge": "87.5em");

//this and down:
//639px, 1023, 1399 and down
$breakpoints-down:("small": "39.9375em","medium": "63.9375em", "large":  "87.4375em");

@mixin breakpoint-up($size) {
    @media(min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media(max-width: map-get($breakpoints-down, $size)){
        @content;  
    }
}


@mixin dark-theme($theme){
    @if $theme{
        background-color: darken($primary-color, 100%);
        color: lighten($black, 100%);

        footer{
            background-color: $red;
            color: lighten($black, 100%);
        }

        .link-hover {
            &:before {
                background: lighten($black, 100%);
            }
        }
        
        .blogs-heading{
            background: darken(rgb(231, 231, 231), 60%);
        }
        
        .white-box{
            color: $black;
        }      
        
        .contact-container{
            background-color: darken($primary-color, 75%);
        }

        #first-section{
            background-color: darken(rgb(231, 231, 231), 60%);
        }
        
        #second-section{
            background-color: darken(rgb(231, 231, 231), 70%);
        }
        
        #third-section{
            background-color: darken(rgb(231, 231, 231), 75%);
        }
    }
}